/* TWEETS */
.wd-tweet-container {
  overflow: hidden;
  padding: 16px;
}
.wd-tuit-detail-text {
  color: rgb(110,118,125);
}
.wd-tuit-title {
  color: white;
  font-size: 15px;
  font-weight: bold;
  display: table;
  line-height: 15px;
  margin-top: 0px;
}
.fa-ellipsis-h::before {
  color: rgb(110,118,125);
  font-size: 12px;
}
.wd-user-icon {
  height: 18px;
  vertical-align:center;
}
.wd-thumbnail {
  float:right;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
}
.wd-tweet-with-photo-body {
  width: 80%;
  float: left;
}
.wd-tweet-with-photo-photo {
  width: 15%;
  float: right;
  border-left: 15px;
}
