html * {
  font-family: "Helvetica Neue", serif;
}
.wd-fg-color-black { color: black; }
.wd-fg-color-white { color: white; }
.wd-fg-color-blue { color: rgb(29,161,242); }
.wd-fg-color-gray { color: rgb(110,118,125); }

.wd-bg-color-black {
  background-color: black;
  overflow: hidden;
}
.wd-bg-color-gray {
  background-color: #282c34;
  overflow: hidden;
}
.wd-bold-text {
  font-weight: bold;
}
.wd-float-left {
  float: left;
}
.wd-float-right {
  float: left;
}

/*SEARCH BAR */
.wd-search-bar-section {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  background-color: black;
  overflow: hidden;
}
.fa-search::before {
  color: rgb(110,118,125);
  font-size: 16px;
}
.fa-gear::before {
  color: rgb(29,161,242);
  font-size: 24px;
}
.wd-gear-icon {
  padding-right: 12px;
  float: right;
}
.wd-search-bar {
  padding-left: 15px;
  border-radius: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #282c34;
  float: left;
}
.wd-search-input {
  border: 0 transparent;
  background-color: transparent;
  font-size: 13px;
  color: white;
}
.wd-search-input:focus {
  outline: none;
}

/* Nav Bar */
.wd-header-container {
  padding-left: 16px;
  background-color: black;
  overflow: hidden;
  border-bottom: 0.75px solid rgb(110,118,125);
}
.wd-header-link {
  float: left;
  padding: 16px;
  font-size: 15px;
  font-weight: bold;
  align-content: center;
}
.wd-bottom-border-blue {
  border-bottom: 5px solid rgb(29,161,242);
}

/* TWEETS */
.wd-tweet-container {
  border-bottom: 0.75px solid rgb(110,118,125);
  background-color: black;
  overflow: hidden;
  padding: 16px;
}
.wd-tuit-detail-text {
  color: rgb(110,118,125);
  font-size: 13px;
  line-height: 0px;
}
.wd-tuit-title {
  color: white;
  font-size: 15px;
  font-weight: bold;
  display: table;
  line-height: 15px;
  margin-top: 0px;
}
.fa-ellipsis-h::before {
  color: rgb(110,118,125);
  font-size: 12px;
}
.wd-user-icon {
  height: 18px;
  vertical-align:center;
}
.wd-thumbnail {
  float:right;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
}
.wd-tweet-with-photo-body {
  width: 80%;
  float: left;
}
.wd-tweet-with-photo-photo {
  width: 15%;
  float: right;
  border-left: 15px;
}





