html * {
  font-family: "Helvetica Neue", serif;
}

.wd-fg-color-black { color: black; }
.wd-fg-color-white { color: white; }
.wd-fg-color-red { color: indianred; }
.wd-fg-color-blue { color: rgb(29,161,242); }
.wd-fg-color-gray { color: rgb(110,118,125); }
.wd-bg-color-black {
  background-color: black;
  overflow: hidden;
}
.wd-bg-color-gray {
  background-color: #282c34;
  overflow: hidden;
}
.wd-clipped {
  clip-path: circle();
}
.wd-bold-text {
  font-weight: bold;
}
.wd-grid-row {
  clear: both;
  padding-bottom: 12px;
  padding-left: 16px;
  border-bottom: 1px solid rgb(110,118,125);
}
.wd-action-icons {
  padding-top: 12px;
}
.wd-margin-all-around {
  margin: 30px;
}
.wd-rounded-corners-all-around {
  border-radius: 50px;
}
.wd-float-left {
  float: left;
}
.wd-float-right {
  float: right;
}
.wd-grid-col-quarter {
  width: 25%;
  float: left;
  text-decoration: none;
  color: rgb(110,118,125);
}

/* BOOKMARKS HEADER */

.wd-bookmarks-header {
  border-bottom: 1px solid rgb(110,118,125);
  background-color: black;
  overflow: hidden;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.wd-bookmarks-handle {
  color: rgb(110,118,125);
  font-size: 13px;
  margin-bottom: 0px;
}
.wd-bookmarks-title {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  line-height: 0px;
}
.fa-ellipsis-h::before {
  font-size: 15px;
  padding: 12px;
}

/* TUIT AVATAR */

.wd-avatar-column {
  padding: 12px 16px;
  float: left;
}
.wd-user-icon {
  height: 18px;
}

/* TUIT CONTAINER */

.wd-tuit-container {
  max-width: 506px;
  float: left;
}

/* TUIT AUTHOR INFO */

.wd-tuit-author {
  font-weight: bold;
  color: white;
  float: left;
  padding-right: 5px;
}
.wd-tuit-author-details {
  font-size: 15px;
  color: rgb(110,118,125);
  float: left;
}

/* TUIT BODY */

.wd-tuit-body {
  margin-top: 12px;
  display: block;
}
.wd-link-preview-photo {
  width: 504px;
  height: 264px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}
.wd-link-preview-border {
  border-radius: 25px;
  width: 504px;
  border: 1px solid gray;
}
.wd-link-preview-description {
  padding: 0px 12px;
  line-height: 15px;
}
.wd-link-preview-title {
  color: white;
  font-size: 15px;
  font-width: bold;
}
.wd-grid-row a {
   text-decoration: none;
 }


